/*
命名空间
命名空间

有时候，你可能为了更好组织 CSS 或者单纯是为了更好的封装，
将一些变量或者混合模块打包起来，
你可以像下面这样在 #bundle 中定义一些属性集之后可以重复使用：
*/
#header a {
  color: orange;
  display: block;
  border: 1px solid black;
  background-color: grey;
}
#header a:hover {
  background-color: white;
}
